<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <%-include('./inc/Top.ejs') %>
    <hr />
    <div class="container">
      <h2>Member</h2>
      <table class="table">
        <tr>
          <th>No</th>
          <th>Name</th>
          <th>Email</th>
        </tr>
        <tr>
          <td>1</td>
          <td>홍길동</td>
          <td>phdHong@gmail.com</td>
        </tr>
      </table>
    </div>
  </body>
</html>
