<!-- <nav>목록 | 입력 | 수정 | 상세보기 | 삭제 | 장바구니</nav> -->

<nav>
  <a href="/shop">목록</a> | <a href="/shop">입력</a> |
  <a href="/shop">수정</a> | <a href="/shop">상세보기</a> |
  <a href="/shop">삭제</a> |
  <a href="/shop">장바구니</a>
</nav>
